body
{
    background-color: mediumaquamarine;  
}
 #hi
 {
color: cadetblue;
background-color: rgb(205, 164, 102);  
 }
#retrato
{
    float:right;

}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count: infinite;

}
@keyframes example{

    from{box-shadow:1px 1px 38px red;}
    to{box-shadow:1px 1px 38px rgb(255, 115, 0);}
}